:root {
  --text-color: #444;
  --bg-color: white;
  --active-color: #04AA6D;
  --hover-color: #ddd;
}

body {
  font-family: Sans-Serif;
  margin: 0px auto;
  max-width: 650px;
  line-height: 1.6;
  font-size: 18px;
  color: var(--text-color);
}
body > * {
  padding: 0px 10px;
}

h1 {
  text-align: center
}
h1,h2,h3 {
  line-height: 1.2
}

/* Style the navigation bar */
.topnav {
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  text-align: center;
  padding: 8px 10px;
  font-size: 17px;
  color: var(--text-color);
  text-decoration: none;
}

/* Change the color of links on hover */
.topnav a:hover:not(.active) {
  background-color: var(--hover-color);
  color: var(--text-color);
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: var(--active-color);
  color: var(--bg-color);
}

/* Make navbar mobile friendly */
@media screen and (max-width: 600px) {
  .topnav a {
    float: none
  }
}
