body{
    font-family: Sans-Serif;
    text-align: center;
    margin: 40px auto;
    max-width: 400px;
    line-height: 1.6;
    font-size: 18px;
    color: #444;
    padding: 0px 10px 0px 10px;
}
h1,h2,h3{line-height: 1.2}

p {
    text-align: left;
}

ul {
    list-style: none;
}

footer {
    margin-top: 40px;
}
footer > * {
    margin: 10px;
    white-space: nowrap;
}
