body {
  font-family: Sans-Serif;
  margin: 40px auto;
  max-width: 400px;
  line-height: 1.6;
  font-size: 18px;
  color: #444;
}
body > * {
  padding: 0px 10px 0px 10px;
}

h1 {
  text-align: center
}
h1,h2,h3 {
  line-height: 1.2
}

footer {
  margin-top: 40px;
  text-align: center
}
footer > * {
  margin: 10px;
  white-space: nowrap;
}
